@font-face {
    font-family: 'Roboto';
    src:
      url('/assets/fonts/roboto/Roboto-Regular.woff2') format('woff2'),
      url('/assets/fonts/roboto/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto';
    src:
      url('/assets/fonts/roboto/Roboto-Medium.woff2') format('woff2'),
      url('/assets/fonts/roboto/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto';
    src:
      url('/assets/fonts/roboto/Roboto-Bold.woff2') format('woff2'),
      url('/assets/fonts/roboto/Roboto-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto Variable';
    src:
      url('/assets/fonts/roboto/Roboto-VariableFont_wdth,wght.woff2') format('woff2');
    font-weight: 100 900;
    font-stretch: 75% 100%;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto Variable';
    src:
      url('/assets/fonts/roboto/Roboto-Italic-VariableFont_wdth,wght.woff2') format('woff2');
    font-weight: 100 900;
    font-stretch: 75% 100%;
    font-style: italic;
    font-display: swap;
  }